#Description of  Prof. Farnsworth's ship

[default]

name = {{ ship_name }}

type = {{ ship_type  }}

engine_type = {{ engines }}

Dark_matter_max_capacity = {{ dark_Matter_balls }}

sales_price = {{ ship_price_in_beans }}

{% if vmware|int == 1 %}
Day 1 we learned about ansible and some of the stuff it can do
{% else %}
Day 1 we learned about github and git but not ansible :(
{% endif %}
